body{
    margin: 0;
    background-color:  rgb(215, 215, 216);
}

.cabecera{
    width: 100%;
    background-image: url(../images/venecia_titulo.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    box-align: center;
}
#titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: white;
    font-size: 200px;
}

.cuerpo{
    width: 100%;
    height: 100%;
    display: flex;
}
.column-1{
    float: left;
    width: 20%;
    height: 100%;
    background-color: rgb(87, 179, 91);
    color: white;
    padding-bottom:100%;
    flex-wrap: wrap;
}
.column-2{
    float: left;
    width: 60%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: black;
    flex-wrap: wrap;
    flex-direction: column;
}

.column-3{
    float: left;
    width: 20%;
    height: 100%;
    background-color: rgb(190, 85, 85);
    color: white;
    padding-bottom:100%;
    flex-wrap: wrap;
}

.mapa{
align-self: center;
margin-left: 17%;
margin-top: 30px;
}

.carousel-item{
    height: 600px;
}